.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px;
  background-color: #CEE9F1;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color:#00455F;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color:#006a92;
  background-color: #CEE9F1;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-family: 'Gruppo', sans-serif;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #00455F;
  color:white;
}
