.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
  background-color: #CEE9F1;
  overflow: hidden;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 16px;
} */
/* //------------------- */
/* .navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  flex-direction: row; /* set the flex direction to row */
/* }

.nav-item {
  margin-right: 16px;
} */

/* .nav-link {
  color: #fff;
  text-decoration: none;
} */

/* @media (max-width: 768px) { /* add a media query for smaller screens */
  /* .navbar-nav {
    flex-direction: column; /* set the flex direction to column */
    /* align-items: center; */
  /* } */ 

  /* .nav-item {
    margin-right: 0;
    margin-bottom: 16px; /* add margin bottom to separate the items */
  /* } */ 
/* } */ 
/* //------------------- */

.nav a {
  text-decoration: none;
}

.nav-title {
  /* font-family: 'Pixelify Sans', sans-serif; */
  font-family: 'Press Start 2p', serif;

  font-size: 40px;
  font-weight: 700;
  color:#00455F;
  padding-left: 10px;
  margin: 0;
}

.nav-title:active {
  font-family: 'Press Start 2p', serif;

  font-size: 40px;
  font-weight: 700;
  color:#a4bac0;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color:#006a92;
  background-color: #CEE9F1;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-family: 'Gruppo', sans-serif;
  font-size: 24px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #00455F;
  color:white;
}
/* .navLink:active {
  background-color: #2f697e;
  color:white;
} */

.active {
  background-color: #93cee0;
  color: white;
}