/* FILEPATH: /Users/angelica/PrimeAcademy/Jade/Tier2/solo/Solo_project_Rutina/src/components/Pomodoro/Pomodoro.css */

.tomato { 
  /* position: absolute; */ 
  display: block; /* Use "block" display to center the image */
  margin: 0 auto; /* Horizontally center the image */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

h1 {
  text-align: center;
  background-color: #CEE9F1;
}
h2 {
  text-align: center;
}

.button-container {

  justify-content: center;
  display: flex; 
  padding-top: 20px;
  padding-bottom: 20px;


}



.squishCardClass {
  width: 567px;
  height: 507px;
  /* display: flex; */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */

}
.tomatoCard {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  padding: 10px;
  padding-bottom: 10px;
  margin: 50px 50px 50px 90px;
  border: 50px;
  background: 240 240 240;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(115, 104, 104, 0.3);
    /* height: 700px; */
}

/* img{
    height:200px;
    /* padding-left:90px; */
    /* display: inline; */

/* } */

/* .card-container-pomodoro{
  
} */

.spaceUnderCard{
  height: 900px;
  display: flex;
  align-content: center;
  justify-content: center;
  /* align-items: center;
  justify-items: center; */
  margin-bottom: 100px;
}

/* ----------------------- */
/* LEARN MORE */

.learn-morePom {
  /* position: relative; */
  display: grid;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  margin: 10px 10px 10px;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #b5ddea;
  border: 2px solid #60a9bf;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.learn-morePom::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #355e6a;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #d2eaf2, 0 0.625em 0 0 #d2eaf2;
  box-shadow: 0 0 0 2px #2a4b55, 0 0.625em 0 0 #d2eaf2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.learn-morePom:hover{
  background: #88c9dd;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}
.learn-morePom:hover::before{
  -webkit-box-shadow: 0 0 0 2px rgb(105, 121, 145), 0 0.5em 0 0 #d2eaf2;
  box-shadow: 0 0 0 2px rgb(26, 11, 99), 0 0.5em 0 0 #d2eaf2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}
.learn-morePom:active{
  background: rgb(61, 18, 216);
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}
.learn-morePom:active::before{
  -webkit-box-shadow: 0 0 0 2px #d2eaf2, 0 0 #d2eaf2;
  box-shadow: 0 0 0 2px #d2eaf2, 0 0 #d2eaf2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

/* ----------------------- */
